census==0.8.13
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
descartes==1.1.0
Django==2.2.13
django-filter==2.2.0
djangorestframework==3.11.0
esridump==1.9.3
future==0.18.2
geographiclib==1.50
geopy==1.21.0
gunicorn==20.0.4
idna==2.9
jellyfish==0.5.6
kiwisolver==1.2.0
Markdown==3.2.1
matplotlib==3.2.1
numpy==1.18.3
pandas==1.0.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
Shapely==1.7.0
six==1.14.0
sqlparse==0.3.1
tqdm==4.45.0
urllib3==1.25.8
us==1.0.0
whitenoise==5.0.1
