census==0.8.13
certifi==2019.11.28
chardet==3.0.4
Django==2.2.11
future==0.18.2
idna==2.9
jellyfish==0.5.6
pytz==2019.3
requests==2.23.0
sqlparse==0.3.1
urllib3==1.25.8
us==1.0.0

esridump~=1.9.3
tqdm~=4.45.0
matplotlib~=3.2.1
Shapely~=1.7.0
descartes~=1.1.0
geopy~=1.21.0